%footer.footer
  %p.footer-title
    We are available Monday - Friday 8am to 4:30pm.
    %br
    For Tacoma call 253-926-1012 and for Olympia call 360-359-4988.
  %ul.footer-navbar
    %li= link_to 'Rates & Services', "/rates-services"
    %li= link_to 'Get a Quote', "/get-quote"
    %li= link_to 'FAQ’s', "/FAQ"
    %li= link_to 'About Us', "/about"
    %li= link_to 'Join our Team', "/join-our-team"
    %li= link_to 'Policies & Terms', "/policies-terms"
  %p.footer-copyright.text-muted
    Copyright
    &copy;
    %span#year>
    &nbsp;MJ's Housekeeping &nbsp;All Rights Reserved.
