%footer.footer
  %ul.footer-navbar
    %li= link_to 'Rates & Services', "#"
    %li= link_to 'Get a Quote', "#"
    %li= link_to 'FAQ’s', "#"
    %li= link_to 'Join our Team', "#"
    %li= link_to 'Terms & Conditions', "#"
    %li= link_to 'Privacy Policy', "#"
  %p.text-muted
    Copyright
    &copy;
    %span#year
    MJ's Housekeeping, Inc. &nbsp;All Rights Reserved.
