%footer.footer
  %ul.footer-navbar
    %li= link_to 'Rates & Services', "/rates-services"
    %li= link_to 'Get a Quote', "get-quote"
    %li= link_to 'FAQ’s', "/FAQ"
    %li= link_to 'About Us', "/about"
    %li= link_to 'Join our Team', "/"
    %li= link_to 'Policies & Terms', "/policies-terms"
  %p.text-muted
    Copyright
    &copy;
    %span#year>
    &nbsp;MJ's Housekeeping &nbsp;All Rights Reserved.
