%nav.navbar
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar.navbar-collapse.collapse
      .nav.navbar-nav
        .navbar-nav-left-column
          .navbar-nav-left-content
            = link_to 'Rates & Services', "#"
          .navbar-nav-left-content
            = link_to 'Get a Quote', "#"
        .navbar-nav-logo-content
          %a.logo-link{href: '/'}= inline_svg('mjs-housekeeping-orig-logo', class: "navbar-nav-ico")

        .navbar-nav-right-column
          .navbar-nav-right-content
            = link_to 'FAQ’s', "#"
          .navbar-nav-right-content
            = link_to 'Join Our Team', "#"