.container.content-section-a
  .row
    .col-md-12.content-section-a-intro
      .row
        .col-md-8
          %h1.content-section-a-intro-title
            %span
              %i Frequently Asked Questions
        .col-md-3
          = image_tag "/images/hero/mjs-housekeeping-content-img-1.jpeg", class: 'img-reponsive', style: "width:90%;height:110px"


.container.content-section-b
  .row
    .col-md-12.content-section-b-intro
      .panel-group.faq-accordion#faq_accordion{ role:"tablist", aria:{ multiselectable:"true" } }
        - data.faq.each_with_index do |fak, i|
          .panel.panel-default.text-left
            .panel-heading{ id: "heading#{i}", role: "tab" }
              %h4.panel-title
                %a.accordion-toggle{ role:"button", data:{toggle: "collapse", parent: "#faq_accordion" }, href: "#collapse#{i}", aria:{expanded: "true", controls: "collapse#{i}" } }><
                  %i.fa.fa-angle-up
                  = fak.title
            .panel-collapse.collapse{id: "collapse#{i}", role: "tabpanel", aria:{ labelledby: "heading#{i}" } }
              .panel-body><
                = fak.body
                - if fak.body_points
                  %ul
                    - fak.body_points.each do |pts|
                      %li= pts


:javascript
   $('.accordion-toggle').on('click', function(){
      $(this).parent().parent().parent().toggleClass('active');
      $('.accordion-toggle').not(this).parent().parent().parent().removeClass('active');
      $(this).children('i').toggleClass('fa-flip-vertical');
      $('.accordion-toggle').not(this).children('i').removeClass('fa-flip-vertical');

    });